#content
  %ul.forum_data{:id => "forum_#{@forum.id}_data"}
    %li.id= @forum.id
    %li.name= @forum.name
    %li.description= @forum.description
    %li.active= @forum.active
    %li.position= @forum.position
    %li.replies_nr= @forum.replies_nr
    %li.last_post= @forum.last_post
    %li.last_poster= @forum.last_poster
    %li.threads_nr= @forum.threads_nr
    %li.open= @forum.open
    %li.parent_id= @forum.parent_id
  = link_to 'Back to forums', forums_path
