#breadcrumbs= breadcrumbs
%ul
  = render :partial => "forum_data_header"
  = render :partial => "forum_data", :collection => @children_forums, :as => :forum
  = render @topics

-##paginator= paginate @threads, :remote => true
#paginator= paginate @topics
= link_to :back
= url_for :back
