#breadcrumbs= breadcrumbs
%ul
  = render :partial => "forum_data_header"
  = render :partial => "forum_data", :collection => @forum.children.active.by_rank, :as => :forum
  = render @topics

-##paginator= paginate @threads, :remote => true
#paginator= paginate @topics
-#= link_to :back
-#= url_for :back
