%ul.topic_data{:id => "topic_#{@topic.id}_data"}
  %li.id=          @topic.id
  %li.title=       @topic.title
  %li.sticky=      @topic.sticky
  %li.replies_nr=  @topic.replies_nr
  %li.last_post=   @topic.last_post
  %li.poster=      @topic.poster
  %li.views_nr=    @topic.views_nr
  %li.open=        @topic.open
  %li.dateline=    @topic.dateline
%ul
  - @posts.each do |post|
    %li= link_to post.title, post


= link_to :back
= url_for :back
