%ul.topic_data{:id => "topic_#{@topic.id}_data"}
  %li.forum
    nome del forum:
    =link_to @topic.forum.name, @topic.forum
  -#%li.id=          @topic.id
  %li.title
    titolo del topic:
    = @topic.title
  %li.sticky
    sticky?
    = @topic.sticky
  %li.replies_nr
    numero di posts:
    =  @topic.posts_count
  %li.last_post
    data dell'ultimo post:
    =   @topic.last_update
  %li.user_id
    ultimo utente che ha postato:
    =    link_to @topic.last_poster.username, @topic.last_poster if @topic.last_poster
  %li.views_nr
    numero di visite:
    =    @topic.views
  %li.open
    aperto?
    =        @topic.open
  %li.dateline
    creato in data:
    =    @topic.created_at
%ul
  = render @posts

= link_to 'new post', new_post_path(topic_id: @topic.id)

= link_to :back
