%ul.post_data{:id => "post_#{@post.id}_data"}
  %li.id=        @post.id
  %li.user_id=   @post.user_id
  %li.dateline=  @post.dateline
  %li.text=      @post.text
  %li.topic_id=  @post.topic_id

= link_to :back
= url_for :back
